# DataFrames

## Replacing Data

In [1]:
using DataFrames

In [2]:
df = DataFrame( a=["a", "dummy", "b", "dummy"],
                b=1:4, c=["dummy", "j", "k", "h"],
                d=["x", "y", "dummy", "z"])

4×4 DataFrame
 Row │ a       b      c       d
     │ String  Int64  String  String
─────┼───────────────────────────────
   1 │ a           1  dummy   x
   2 │ dummy       2  j       y
   3 │ b           3  k       dummy
   4 │ dummy       4  h       z

In [3]:
#replace the dummy variable with c
replace!(df.a, "dummy" => "c")

4-element Vector{String}:
 "a"
 "c"
 "b"
 "c"

In [4]:
df

4×4 DataFrame
 Row │ a       b      c       d
     │ String  Int64  String  String
─────┼───────────────────────────────
   1 │ a           1  dummy   x
   2 │ c           2  j       y
   3 │ b           3  k       dummy
   4 │ c           4  h       z

## Insert a column into a DataFrame

In [5]:
df2 = DataFrame(a=1:3)

3×1 DataFrame
 Row │ a
     │ Int64
─────┼───────
   1 │     1
   2 │     2
   3 │     3

In [9]:
insertcols!(df2, 2, :w => 'a':'c')

3×2 DataFrame
 Row │ a      w
     │ Int64  Char
─────┼─────────────
   1 │     1  a
   2 │     2  b
   3 │     3  c

In [10]:
# number of columns of data frame
ncol(df2)

2

In [12]:
# dims of data frame
size(df2)

(3, 2)

# Dictionaries

## Constructing (generating) them

In [7]:
d1 = Dict("A"=>1, "B"=>2)

Dict{String, Int64} with 2 entries:
  "B" => 2
  "A" => 1

In [8]:
d2 = Dict([("A", 1), ("B", 2)]) # equivalent method to generate a Dictionary

Dict{String, Int64} with 2 entries:
  "B" => 2
  "A" => 1